body {
	min-height: 100vh;
	margin: 0;
}

#leftSideBar {
	float: left;
	width: 300px;
	height: 100vh;
	background-color: #051622;
	top: 0;
	bottom: 0;
	position: fixed;
}

#profilePicture {
	margin: 75px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	object-fit: cover;
}

#contentList {
	padding: 10px;
	list-style-type: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: bold;
	text-align: center;

	color: #DEB992;
}

#content {
	top: 0;
	padding-left: 50px;
	width: calc(100% - 350px);
	height: 100vh;
	float: right;
	margin-bottom: 50px;
}

.contentHeadings {
	color: #1BA098;
	font-size: 35px;
	float: none;
}

#ageData {
	line-height: 25px;
	margin: 0;
}

.contentBody {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: auto;
	margin-right: 150px;
	padding-left: 50px;
	color: #051622;
	font-size: 15px;
}

#infoCategory {
	display: inline-block;
	float: left;
	margin-right: 50px;
	line-height: 25px;
}

#infoData {
	display: inline-block;
	line-height: 25px;
}

#hobbyList {
	list-style: dot;
}

#skillsLeft {
	display: inline-block;
	float: left;
}

#skillsRight {
	display: inline-block;
}

a {
	color: #DEB992;
}

a:hover {
	color: #1BA098;
}